*, 
*:before,
*:after{
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/*--------------General---------------------*/
a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.btn {
    font-family: 'Rubik', sans-serif;
    outline: none;
    border: none;
    padding: 0; 
    background: none;
    transition-duration: 0.4s;
}

/*--------------Header---------------------*/
.header {
    width: 100%;
    background-color: #fff
}

.header_container {
    max-width: 1207px;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    position: relative;
}

.header_inner {
    display: flex;
    align-items: center;
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    padding-top: 46 px;
    height: 91px;
}

.logo {
    margin: 157px;
}

.header_nav {
    display: flex;
}

.header_menu:not(:first-child) {
    margin-left: 17px;
}

.nav_link {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #4f5665;
    position:relative;
    text-decoration: none;
    transition: color .2s linear;
}

.nav_link:after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    display: none;
    background-color: red;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
}

.nav_link:hover {
    color: #fce38a;
}

.nav_link:hover:after {
    display: block;
}

.nav_signin {
    margin-left: auto;
    font-weight: 500;
    font-size: 16px;
    color: #0B132A;
    line-height: 19px;
}
.nav_signup {
    width: 150px;
    height: 45px;
    border-radius: 50px;
    border: 2px solid #F53855;
    color:  #F53855;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    margin-left: 34px;
}

/*--------------Welcome---------------------*/
.welcome_title {
    font-weight: 500;
    font-size: 50px;
    line-height: 70px;
    width: 678px;
    color: #0B132A;
    margin: 116px 0 21 px;
}

.welcome_subtitle {
    width: 555px;
    margin-bottom: 40px;
    color: #4f5665;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
}

.welcome_btn-start {
    font-weight: 700;
    font-size: 16px;
    line-height: 25px;
    color: #fff;
    width: 250px;
    height: 60px;
    border-radius: 10px;
    background-color: #F53838;

}

.welcome_img {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 611px;
    height: 382px;
}
/*--------------Info---------------------*/
.info{
    width: 100%;
    margin-top: 78px;

}

.info_container{
    display: flex;
    align-items: center;
    max-width: 1140px;
    width: 100%;
    height: 200px;
    border-radius: 10px;
    margin: 0 auto;
}

.info_list {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 33.33%;
    height: 126px;
    border-right: solid 2px #EEEFF2;
}

.info_list:last-child {
    border-right: none;
}

.info_card {
    margin-left: 37px;
    display: flex;
    flex-direction: column;
}

.info_numb {
    font-weight: 500;
    font-size: 25px;
    line-height: 30px;
    color: #0B132A;
}

/*--------------Main---------------------*/

.main {
    width: 100%;
    padding-bottom: 101px;
    margin-top: 96px;
}

.main_container {
    display: flex;
    max-width: 1225px;
    width: 100%;
    margin: 0 auto;
}

.main_title {
    width: 548px;
    font-weight: 500;
    font-size: 35px;
    line-height: 50px;
    color: #0B132A;
}

.main_second {
    width: 471px;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #4f5665;
}

.main_list{
    padding-top: 13px;
    padding-left: 34px;
}

.main_list-item {
    position: relative;
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
    color: #4f5665;
}

.main_list-item::before {
    content: '';
    position: absolute;
    top: 50%;
    left: -32px;
    transform: translateY(-50%);
    display: block;
    width: 20px;
    height: 20px;
    background: url(../img/icon.svg) center no-repeat;
}

